*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    padding: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 0px 12px 0px rgba(128, 115, 115, 0.75);
    -webkit-box-shadow: -1px 0px 12px 0px rgba(128, 115, 115, 0.75);
    -moz-box-shadow: -1px 0px 12px 0px rgba(128, 115, 115, 0.75);
}

.navbar-left a svg {
    width: 50px;
}

.navbar-left {
    margin-left: 13px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.navbar-left>*,
.navbar-right>* {
    margin: 10px;
}

.find-a-store {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.sign-in,
.join-now {
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    color: #000;
    border: 2px solid black;

}

.join-now {
    color: #fff;
    background-color: #000;
}

.navbar-left div:hover,
.find-a-store:hover {
    color: #00754a;
}

.sign-in:hover {
    background-color: rgba(0, 0, 0, .06);
}

.join-now:hover {
    background-color: rgba(0, 0, 0, .7);
}

/* MAIN SECTION  */
.product {
    background-color: #d4e9e2;
}

/* MAIN SECTION  */