*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    padding: 25px;
    font-size: 14px;
}

.navbar-left a svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left>* {
    padding: 10px;

}

.navbar-right {
    border: 2px solid red;
}

.find-a-store {
    border: 2px solid red;
    display: flex;
    align-items: center;
}